header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: lightyellow;
  border: 2px solid darkgray;
  border-radius: 5px;
}
.bg-darkBox {
  border: 2px solid red;
  background-color: deeppink;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-left-width: 20px;
  margin-bottom: 10px;
}
.bg-lightBox {
  border: 2px solid red;
  background-color: lightyellow;
  color: red;
  padding: 5px;
  border-radius: 5px;
  border-left-width: 20px;
  margin-bottom: 10px;
}
